h1{
	margin:0;
	line-height: 3em;
	margin: 0;
	font-size: 36px;
	margin: 0 10px 0 0;
}
a{
		color:black;
		

}
#title{
	position:fixed;
	top:0;
	left:0;
	width:300px;
	top:20px;
	left:20px;
}
#wei h1{
	font-size:80px;
	line-height: 1em;

}
#slash{
	position: absolute;
	width:220px;
	height:250px;
	top:10px;
	left:10px;
	overflow: hidden;
}
#slash p{
	word-wrap:break-word;
	line-height: 0.9em;
}
.main{
	padding:100px 0 0 300px;
}
h3{
	font-size: 16px;
	margin:0 0 10px 0;
}
#exercises{
	margin: 0 0 30px 0;
}
#projects{
	width:200px;
}

a:hover{
	cursor:pointer;
}
.horizontalAlign{
	display: inline-block;
	float:left;
}
.items{
}
.intervene{
	border-right: 2px solid black;
	width:10px;
	height:10px;
}
