	body {
		font-family: 'Times New Roman', serif;
		background-color: #f0f0f0;
		margin: 0px;
		max-width: 1150px;
	}

	#overlay {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#container {
		position : relative;
		width : 700px;
		height : 500px;
		/*margin : 0px auto;*/
	}

	#content {
		margin-top : 70px;
		margin-left : 100px;
		margin-right : 100px;
		max-width: 950px;
	}

	#convergence {
		display : inline;
	}

	h2 {
		font-weight : 400;
	}

	.btn {
		font-family: 'Times New Roman', serif;
		font-size: 16px;
	}

	.hide {
		display : none;
	}