body{
	margin:0;
}
h1{
	font-family: 'Cousine', monospace;
	line-height: 0.9em;
	font-size: 18px;
	margin:0;
	font-weight: 700;
	position:absolute;
	color:white;
	top:55%;
	right:-30px;
	background-color: black
}

#container{
	width:100%;
	margin:0 auto;
}

/*.WPA3{
	color:green;
}
.WPA2{
	color:blue;
}
.WPA{
	color:black;
}
.WEP{
	color:orange;
}
.none{
	color:red;
}*/
.circle{
	position: absolute;
 	border-radius: 50%;	
 	opacity:0.75;
}
.wifiSignals{
	width:10vw;
	height:10vw;
	display:inline-block;
}