body{
	margin:0;
}
h1{
	font-family: 'Cousine', monospace;
	line-height: 0.9em;
	font-size: 18px;
	margin:0;
	font-weight: 700;
	transform: rotate(90deg);
	position:absolute;
	right:0;
	top:100px;
}

#container{
	width:100%;
}
#gridMaster{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	display: flex;
}
.gridsColumns{
	width:10%;
	height:100vh;
	border-left: 1px solid red;
	display:inline-block;

}
.gridsColumns:last-of-type{
	border-right: 1px solid red;
}
/*.WPA3{
	color:green;
}
.WPA2{
	color:blue;
}
.WPA{
	color:black;
}
.WEP{
	color:orange;
}
.none{
	color:red;
}*/
.circle{
		position: fixed;

margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
left: 0;
right: 0;
  border-radius: 50%;
  opacity:0.1;

}
.wifiSignals{
}