body{
	margin:0;
}
h1{
	font-family: 'Cousine', monospace;
	line-height: 0.9em;
	margin:0;
}

#container{
}
#gridMaster{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	display: flex;
}
.gridsColumns{
	width:10%;
	height:100vh;
	border-left: 1px solid red;
	display:inline-block;

}
.gridsColumns:last-of-type{
	border-right: 1px solid red;
}
/*
.WPA3{
	color:green;
}
.WPA2{
	color:blue;
}
.WPA{
	color:black;
}
.WEP{
	color:orange;
}
.none{
	color:red;
}
*/

.WPA3 .dot{
	background-color:green;
}
.WPA2 .dot{
	background-color:blue;
}
.WPA .dot{
	background-color:black;
}
.WEP .dot{
	background-color:orange;
}
.none .dot{
	background-color:red;
}
/*.wifiSignals{
	float:left;
}*/
.dot{
	height:40px;
	width:40px;
	margin:5px 7px;
	display: inline-block;
}