.hide {
  opacity: 0;
}

.gradient {
  background: linear-gradient(135deg, #ff0000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}
.fade{
	opacity:0.1;
}
.fade:hover{
	opacity:1;
};