body {
		font-family: 'Roboto Mono', monospace;
		background-color: #f0f0f0;
		margin: 0px;
		overflow: hidden;
		background-color: black;
	}
p{
	font-size:36px;
	line-height:1.2em;
	color:white;
}
.eye{
	position:fixed;

	z-index:12;
	left:300px;
  width: 0;
  height: 100%;
  border: solid 7px white;
  border-radius:  75% 5%;
  transform: rotate(45deg);
  display:none;
}
#eyeBall {
  position: fixed;
  width: 0;
  height: 0;
  border: solid 7px white;
  border-radius: 50%;
  display:none;
  z-index:12;

}

#frame{
	position:fixed;
	top:15%;
	width:30%;
	height:70%;
	border: 3px solid white;
	left:35%;
	display:none;
	z-index:12;
}
#laugh{
	position:fixed;
	height:50%;
	top:5%;
	width:25%;
	left:5%;
	z-index:20;
	overflow: hidden;
	text-align: center;
}
#text{
	position:fixed;
	height:60%;
	top:40%;
	width:30%;
	left:35%;
	z-index:20;
	overflow: hidden;
	text-align: center;
}
#textP{
}
#overlay {
				position:fixed;
				top:0;
				left:0;

			}

#videoel {
			
				position:fixed;
				top:0;
				left:0;
				
				
			}
#content{
	width:100%;
	height:100%;
}

#container{
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
}
#video{
}
#emotion_container{
	position:fixed;
	z-index: 1;
	opacity:0;

}

.option{
	cursor:pointer;
}
#askLocation{
	position:fixed;
	width:30%;
	height:50%;
	display: none;
	z-index: 15;
	right:2%;
	top:40%;
}
#mapContainer{
	position:absolute;
	width:30%;
	height:50%;
	z-index: 14;
	right:0;
	top:40%;
}
#map{
	width:100%;
	height:100%;
	opacity:0;	
}