body{
	margin:0;
	height:100vh;
	width:100vw;
}
#container{
	padding:150px 0 0 0;
	width:500px;
}
.center{
	width:300px;
	margin:0 auto;
	
}
.first, .second{
	display: none;
	height:70px;
}
img{
	width:500px;
	height:70px;
}